<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations on booking your flight, <%= @passenger.name %>!</h1>
    <p>
      You're all set to travel.
      Your Passenger ID is <%= @passenger.name %>.<br>
    </p>
    <p>
      To log in to our site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for choosing us and have a great flight!</p>
  </body>
</html>
