// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.flash-alert {
  background-color: red;
  color: black;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
  margin: 10px 0px;
}

* {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: purple;
}

select {
  height: 30px;
  font-size: 24px;
}

.prompt {
  font-size: 36px;
}

.search-form {
  display: flex;
  flex-direction: column;
  margin: 50px
}

.search-fields {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 50px;
}

.search-field-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-style: solid;
  border-color: purple;
  padding: 35px;
}

.search-text {
  font-size: 21px;
  margin: 5px 0px;
}

.search-select {
  text-align: right;
  margin-top: 10px;
}

.button-box {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.button {
  height: 75px;
  font-size: 36px;
}

.flight-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px
}

.flights-box {
  border-style: solid;
  border-color: purple;
  padding: 35px;
  font-size: 24px;
  margin: 50px;
}

.none-found {
  color: red;
  font-size: 48px;
  margin: 50px;
}
